<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Cleanroom Filter</string>
	<key>CFBundleExecutable</key>
	<string>CleanroomFilterDataProvider</string>
	<key>CFBundleIdentifier</key>
	<string>com.buildkite.cleanroom.network.filter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CleanroomFilterDataProvider</string>
	<key>CFBundlePackageType</key>
	<string>SYSX</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSSystemExtensionUsageDescription</key>
	<string>Cleanroom installs a system extension so macOS can enforce darwin-vz network filtering.</string>
	<key>NetworkExtension</key>
	<dict>
		<key>NEProviderClasses</key>
		<dict>
			<key>com.apple.networkextension.filter-packet</key>
			<string>CleanroomFilterDataProvider</string>
		</dict>
	</dict>
</dict>
</plist>
